<template>
  <v-dialog v-model="show" persistent max-width="290" v-if="show">
    <v-card>
      <v-text-field box label="New Notebook Name" v-model="value"></v-text-field>
      <color-selector/>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click.native="show = false">Cancel</v-btn>
        <v-btn color="primary" flat @click.native="show = false">Add Notebook</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
const ColorSelector = () => import('@/components/ColorSelector')

export default {
  name: 'AddNotebook',
  components: { ColorSelector },
  data () {
    return {
      value: false,
      show: false
    }
  },
  created () {
    this.$store.watch(
      state => state.showNBModal,
      () => {
        const showModal = this.$store.state.showNBModal
        if (showModal === true) {
          this.show = true
        } else {
          this.show = false
        }
      }
    )
  }
}
</script>

<style scoped>
</style>